html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}


.wrap > .container {
    padding: 0 15px 20px;
}

.footer2 {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.footer{
    background: #679334;
    background: -webkit-linear-gradient(left, #679334, #BBD531);
    background: -o-linear-gradient(right, #679334, #BBD531);
    background: -moz-linear-gradient(right, #679334, #BBD531);
    background: linear-gradient(to right, #679334, #BBD531);
    padding: 50px 0;
    color:#fff;
    margin-top:50px;
    overflow: hidden;
}
.footer a{font-size:15px; color:#fff; margin-left: 10px;}
.footer a:hover{text-decoration: none; color:#d1e5a6;}
.footer li{margin-bottom:8px;}

.jumbotron {
    text-align: center;
    color:#fff;
    height:400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.welcome{
    max-width: 840px;
    margin: 45px auto 0;
    padding: 0 20px;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.jumbotron .banner{
    position: absolute;
    left: 0;
    width: 100%;
    top: -60%;
}
.jumbotron .welcome a{color:#bdda7e;}
.jumbotron .welcome a:hover{color:#9bc73c;
    text-decoration: none;}
.jumbotron .banner img{
    width:100%;
}
@media screen and (min-width: 860px){
    .jumbotron h1, .jumbotron .h1 {
        font-size: 55px;
    }
}
@media screen and (min-width: 768px)
{
    .jumbo {
        padding-top: 30px;
    }
}
.jumbo{height:250px;}
.jumbo .welcome{margin-top:0;}
.dimmer{    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top: 0;
    background-color: rgba(0,0,0,0.3);    transition: background-color 300ms;}
.not-set {
    color: #c55;
    font-style: italic;
}
.rubik{
    font-family:'Rubik',sans-serif;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.mynav {
    margin-bottom: 0;
    border-bottom:1px solid #ddd;
    -webkit-box-shadow: 0 0 40px rgba(200, 200, 200, 0.2);
    box-shadow: 0 0 40px rgba(200, 200, 200, 0.2);
}
.navbar-brand {
    height: auto;
    padding: 10px 15px;
    position: relative;
}

.navbar-brand > img {
    display: block;
    width: 115px;
}
.mynav .navbar-nav > li > a {
    color: #01516e;
    font-weight: 500;
    transition: color 0.2s ease;
    padding-top:20px;
}

@media (min-width: 992px){
    .mynav .navbar-nav > li > a {
        padding: 20px 40px 15px;
    }
    .jumbotron{
        background-attachment:fixed;
    }
}
.mynav .navbar-nav > li > a:hover, .mynav .navbar-nav > li > a:focus {
    color: #76aF41;
    background-color: transparent;
}
.mynav .navbar-nav .caret {
    margin-top:-2px;
}
.nav_flex{    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 40px;}
.backend_bar .navbar-brand {
    padding-top: 8px;
    padding-bottom: 8px;
    position:relative;
}
.backend_bar .navbar-brand span {
    position: absolute;
    right: -34px;
    top: 16px;
    font-size: 12px;
    color: #999;
}
.backend_bar .navbar-brand > img {
    width: 105px;
}
.file-drop-zone-title {
    padding: 15px 10px;
}
.flag {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('/images/flags.png') no-repeat;
}


.flag.flag-kg {
    background-position: -24px 0;
}

.flag.flag-kr {
    background-position: -48px 0;
}

.flag.flag-kz {
    background-position: 0 -24px;
}

.flag.flag-ru {
    background-position: -24px -24px;
}

.flag.flag-uz {
    background-position: -48px -24px;
}

.form_wrap{background-color: #f7f7f7;
    padding: 10px;
    margin-bottom: 10px;}
.dotted_link{border-bottom: 1px dotted #999;}
.dotted_link:hover{color:#000; border-bottom: 1px dotted #333; cursor:pointer;}
.mrg-left-5, .ml5 {margin-left: 5px;}
.fs9{font-size:9px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mt0{margin-top:0;}
.mb0{margin-bottom:0;}
.mb15{margin-bottom:15px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt35{margin-top:35px;}
.mb5{margin-bottom:5px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mt20{margin-top:20px;}
.trans300 {
    transition: 0.3s ease-in-out;
}
.upper{text-transform:uppercase;}
.gray8{color:#888;}
.admin_panel{background-color:#000;padding: 4px 0;}
.admin_panel a{color:#fff; margin-right:15px; padding: 3px;}
.admin_panel a:hover{color:gold;
    text-decoration: none;}
.iblock{display:inline-block;}
.hint-block {
    margin-top: 1px;
    font-size: 12px;
}

.swiper-container {
    width: 100%;
    height: 313px;
}
@media (max-width: 600px){
    .swiper-container {height: 190px;}
}

.swiper-wrapper{align-items:center;}
.swiper-slide{height:auto;}
.swiper-pagination-bullet-active {
    background: lawngreen;
}
h1{font-size:30px;}
.tour_params{}
.tour_params > div >div{text-transform: uppercase;
    font-size: 12px;
    color: #888;}
.tour_params span{font-size: 16px;}
.tour_day{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 12px;
    color: #888;
    margin-right: 15px;
    text-transform: uppercase;
}
.tour_day span{    font-size: 20px;
    color: green;
    display: block;
    text-align: center;}
.day_info{
    overflow: hidden;
}
.day_info h4.title{margin-top:0; color: #01384C;}
.day_info h4{     color: #9bc73c;
    margin-bottom: 3px;}
.font12{font-size:12px;}
.font16, p.font16{font-size:16px;}
.rel{position: relative;}
.abs{position: absolute;}
.ohidden{overflow: hidden;}
.zind2{z-index:2;}
.zind3{z-index:3;}
.green{color:#007946;}
.white{color:#fff;}
.red{color:red;}
.red2{color:#ac6f7e;}
.included ul,.not_included ul{
    list-style: none;
    padding: 0;
}
.included li,.not_included li {
    padding-left: 1.5em;
}

.included li::before {
    content: "\2713";
    color: green; /* or whatever color you prefer */
    display: inline-block; width: 1.5em;
    margin-left: -1.5em
}

.not_included li::before {
    content: "\2A2F";
    color: red; /* or whatever color you prefer */
    display: inline-block; width: 1.5em;
    margin-left: -1.5em
}
.full_toggle{    overflow: hidden;
    clear: both;
    text-align: right;
    font-size: 17px;}
.full_content{}
.full_content.closed{    height: 240px;
    overflow: hidden;
    position: relative;}
.more{position: absolute;
    bottom: 0;
    background-color: white;
    right: 0;
    z-index:2;
}
.less{}
.gradient {
    width: 100%;
    height: 60px;
    background: linear-gradient(to top,#fff,rgba(255,255,255,.12));
    position: absolute;
    bottom: 0;
    left: 0;
}
.link{color:#419641; cursor:pointer;}
.book_box_wrap{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.09);
    overflow: hidden;}
.book_box{
    height: 120px;
    padding: 0 20px 20px;
    border: 1px solid #eaeaea;}
.book_box_info{    background-color: #fbfbfb; border-right:none;}
@media (max-width: 768px){
    .book_box_info{border-right:1px solid #eaeaea; border-bottom:none;}
    .book_box_price {
        border-top:none;
    }
}

.book_box_info h3 .date{font-size: 15px;
    line-height: 27px;
    color: #888;}
.book_box_info .note{}
.book_box_info .booked{margin-top: 5px;
    font-size: 13px;
    font-style: italic;
    color: #999;}
.book_box_price{
    text-align: center;}
.book_box_price h3{font-weight: bold;font-size: 25px;
    color: #444; margin-top:0; padding-top:20px;}
.book_box_price a{    text-transform: uppercase;
    /* font-weight: bold; */
    padding: 8px 40px;}
.price_menu{right:0; top:3px; display:none;}
.book_box:hover .price_menu{display:block;}
.price_menu a,.mr5a a{margin-right:5px;}
h3{color:#01384C;}
h3.bb{    border-bottom: 1px solid #eee;
    padding-bottom: 10px;}
h3.bb span{border-bottom: 2px solid #d1e5a6;
    padding-bottom: 9px;}
.clr-light{color:#9bc73c;}
.clr-dark{color:#007946;}
.clr-dark-blue{color:#01384C;}
.right_book_box{    background-color: #01384C;
    height: 313px;
    padding: 50px 25px;}

@media (min-width: 992px){
    .swiper-container,.right_book_box {height: 360px;}
}
.right_book_box h3{    margin-top: 0;    color: #fff;
    text-transform: uppercase;}
.right_book_box h3 span{font-size: 14px;
    font-weight: normal;
    margin-bottom: 5px;
    display: block;}
.top_contact .phone,.top_contact .email{
    margin-right: 15px;    line-height: 24px;}
.top_contact a{color: #9b9b9b;}
.top_contact a:hover{color: #76aF41; text-decoration: none;}
.top_contact .far, .top_contact .fas {color:#bdda7e;}
.lang a{margin-left:10px;
    margin-right: 0 !important;}
.lang img{width: 24px;}
.lang img:hover {box-shadow: 0 0 2px #ccc;}
.top_contact {
    padding-top: 1px;
    background-color: #f8f8f8;
    font-size: 13px;
    padding-bottom: 1px;
}
.country_card{
    padding-right: 8px;
    margin-bottom: 8px;
    overflow: hidden;}
.country_card a{}
.country_card img{
    width: 100%;
    -webkit-transition: -webkit-transform .25s ease-out;
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}
.country_card:hover  img{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.card_bottom{
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    bottom:0;
    padding:10px;
    font-size: 19px;
    color:#fff;
    width: 100%;
}
h2, .h2 {
    font-size: 26px;
}
.tour_card{font-family: Rubik, sans-serif; padding-right: 30px;
    margin-bottom: 25px;}
.tour_card .image{
    display: flex;
    align-items: center;
    overflow: hidden;
}
.tour_card .image a{width: 100%;}
.tour_card img{width:100%;-webkit-transition: transform 400ms;
    -moz-transition: transform 400ms;
    -o-transition: transform 400ms;
    transition: transform 400ms;}
/*.tour_card_intro{    position: absolute;
    padding: 20px;
    color: #fff;
    font-size: 16px;
    font-family: rubik, sans-serif;
    display:none;
    z-index:2;
}
.tour_card_intro a,.tour_card_intro a:hover{
    text-decoration: none;
    color:#fff;
}*/
.tour_card_intro{
    font-size: 15px;
    margin-top: 10px;
    max-height: 104px;
    overflow: hidden;
    color:#777;
}
.tour_card .image:hover .dimmer{display:block;}
.tour_card .image:hover .tour_card_intro{display:block;}
.tour_card_footer{}
.tour_card_footer a{color:#01384C;}
.no_decor,.no_decor:hover{text-decoration: none;}
.tour_card_footer h4{margin-bottom: 5px;}
.tour_card_footer .price{ font-weight: 500; color: #76aF41;}
.tour_card_footer .days{color: #888;margin-left: 5px;}
.tour_card_dest{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 10px 0;
    color: #fff;
    padding: 2px 8px;
    background-color: rgba(118,175,65,0.7);
    font-size: 13px;
    z-index: 2;
}
h1, .h1, h2,.h2,h4,.h4{font-family: Rubik, sans-serif; color:#01384C;}
.hiddeniraak{display:none;}
.dimmer2{background-color: rgba(0,0,0,0.7);    transition: background-color 300ms;}
.false_link{
    cursor: pointer;
    display: inline;
    height: 100%;
    left: 0;
    top:0;
    position: absolute;
    right: 0;
    z-index: 1;
}
.country_swiper img{max-height: 100%;}
.country_swiper .swiper-slide {
    overflow: hidden;
    text-align: center;
}

.country_swiper {height: 77px;}
.country_swiper .swiper-slide {height: 77px;}
@media (max-width: 420px){
    .swiper-button-next, .swiper-button-prev {
        width: 25px;
        height: 23px;
        margin-top: -13px;
        background-size: 12px 22px;
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {left: 1px;}
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {right: 1px;}
    h4, .h4 {font-size: 14px;}
}

@media (min-width: 420px){
    .country_swiper {height: 160px;}
    .country_swiper .swiper-slide {height: 160px;}
}

@media (min-width: 992px){
    .country_swiper {height: 240px;}
    .country_swiper .swiper-slide {height: 240px;}

    .readable{
        line-height: 1.75;
        font-size: 17px;
        color: #3e4754;
    }
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev,
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    filter: hue-rotate(218deg) brightness(168%);
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}
.country_banner{
    height: 240px;
    display: flex;
    align-items: center;
}
.country_desc{
    max-width: 700px;
    margin: 0 auto;
}

.mr-8{margin-right:-8px;}
.mr-30{margin-right:-30px;}

.xrow{
    display:flex;
    margin: 0 -4px;
    flex-wrap: wrap;
}
.h100{height: 100px;}
.pad04{padding: 0 4px;}
.pad4{padding: 4px;}
@media (min-width: 992px){
    .x-md-20{width:20%;}
    .x-md-40{width:40%;}
    .x-md-col{flex-direction: column;}
    .x-md-33{width:33.333333%;}
    .x-pb1{padding-bottom:1px;}
}
@media (max-width: 991px){
    .x-sm-25{width:25%;}
    .x-sm-33{width:33.33333%;}
    .x-sm-50{width:50%;}
    .sm-hidden{display:none;}
}
@media (max-width: 768px){
    .x-xs-50{width:50%;}
    .x-xs-100{width:100%;}
}
.flex{display:flex;}
.flex-wrap{flex-wrap:wrap;}
.xrow img{width:100%;height:100%;    -webkit-transition: transform 400ms;
    -moz-transition: transform 400ms;
    -o-transition: transform 400ms;
    transition: transform 400ms;}
.krajee-default.file-preview-frame .kv-file-content {overflow: hidden;}
.adv_box{position:relative;overflow: hidden;}
.adv_box h3{
    position:absolute;
    width:100%;
    text-align: center;
    top:50%;
    margin-top:-14px;
}

h3.box_title{color:#fff; font-size: 30px;}
h3.box_title_en-US{font-family: 'Kaushan Script', cursive;}
h3.box_title_ru-RU{font-family: 'Lobster', cursive;}

.box_title div{display: inline-block;}
.box_title div span{display: flex;
    justify-content: center;}
.box_title div span::after{
    content:" ";
    border-bottom: 2px solid #fff;
    width: 0;
    display: block;
    transition: width .4s ease;
    margin-top: 9px;
}
@media (pointer: fine) {

    .adv_box:hover img, .tour_card:hover img{
        -webkit-transform: scale(1.08);
        -moz-transform: scale(1.08);
        -ms-transform: scale(1.08);
        -o-transform: scale(1.08);
        transform: scale(1.08);
    }
    .adv_box:hover .dimmer {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .adv_box:hover .box_title span::after{
        width: 100%;}
}
.logo_footer{
    width: 163px;
    position: absolute;
    right: 0;
    top: -27px;
}

.navbar-toggle .icon-bar {
    background-color: #ccc;
}

@media (max-width: 992px){
    .welcome{margin:0 auto;}
}
@media (max-width: 860px){
    .jumbotron h1{font-size:40px;}
    .jumbotron{max-height:300px;}
}

@media (max-width: 600px){
    .jumbotron{display:none;}
    .tour_card{padding-right: 15px;}
    .xs-mr-15{margin-right:-15px;}
    .xs-block{display: block;width: 100%;}
    h1, .h1{font-size:20px;}
    h2, .h2{font-size:18px;}
}

@media (max-width: 475px){
    .top_contact .phone >span, .top_contact .email > span{display: none;}
    .tour_card_intro {display: none;}
    .logo_footer {
        display: none;
    }
}
.menu_box{    border: 2px solid #c3e5b5;
    padding: 0 20px 10px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    height: 150px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.menu_box a{color: #007946;}
.menu_box_link a{color:#0d3349;}
.menu_box a:hover{color: #000; text-decoration: none;}
.menu_box_label{}
.menu_box_result{font-size: 20px;
    font-weight: 500;
    color: #007946;}
.contact_ul li{
    font-size: 19px;
    color: #555;
}
.contact_ul li a{
    color: #555;
}
.contact_ul li i{
    color: #76aF41;
    font-size:15px;
}
.tour_action{margin-top:5px;}
.tour_action a{padding:5px;}